{% extends "../main_template.html" %} {% block head_link %}
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
<script src="{{ static_url("js/svr/svr_performance.js")}}"></script>
<script src="http://apps.bdimg.com/libs/layer/2.0/layer.js"></script>
<!-- 遮盖层脚本 -->
{% end %}
{% block title_name %}
<title>WHOIS服务器性能统计</title>
{% end %}
{% block page %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS服务器性能统计</h1>
    </div>
</div>
<div class="row">
    <!-- /col-lg-3 -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa  fa-pie-chart fa-fw"></i> 截至{{ datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                域名是否含有WHOIS服务器
                            </div>
                            <div class="panel-body">
                                <div id="container" style="width:100%;height:100%"></div>
                                <script type="text/javascript">
                                    $(document).ready(tld_svr_pie({{results[0]['exist_y']}}, {{results[0]['exist_n']}}));
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                域名WHOIS信息注册人信息
                            </div>
                            <div class="panel-body">
                                <div id="container_reg" style="width:100%;height:100%"></div>
                                <script type="text/javascript">
                                    $(document).ready(tld_svr_reg({{results[0]['reg_n']}}, {{results[0]['reg_p']}},{{ results[0]['reg_y'] }}));
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                鼠标选择饼图可以显示详细信息
            </div>
        </div>
    </div>
</div>
{% end %}