{% extends "../main_template.html" %} {% block head_link %}
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
<script src="{{static_url("js/svr/svr_performance.js")}}"></script>
<script src="http://apps.bdimg.com/libs/layer/2.0/layer.js"></script> <!-- 遮盖层脚本 -->
{% end %}
{% block page %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS服务器数量</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-arrow-circle-right fa-fw"></i> 数据说明
            </div>
            <div class="panel-body">
                <div class="container" style="width: 100%;height: 100%">
                    <div class="row">
                        右图为含有域名WHOIS服务器和未含有的所有占数量比，单击下列按钮可查看详细信息
                    </div>
                    <div class="row">
                        <hr>
                        <button id="btn_exist_detail" type="button" class="btn  btn-primary  btn-block">详细信息</button>

                    </div>
                </div> <!-- /container -->
            </div>
        </div> <!-- /panel -->
    </div> <!-- /col-lg-3 -->
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa  fa-pie-chart fa-fw"></i> 截至{{datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
            </div>
            <div class="panel-body">
                <div id="container" style="width:100%;height:100%">
                </div>
            </div>
        </div>
    </div> <!-- /col-lg-9 -->
</div>
{% end %}

{% block foot_script %}
<script type="text/javascript">
    $(document).ready(exist_detail()); //绑定btn_exist_detail,whois服务器的详细信息按钮
</script>
{% end %}
