{% extends "../main_template.html" %}
{% block head_link %}
<link rel="stylesheet" type="text/css" href="{{static_url("css/svr_geo.css")}}">
<script src="http://cdn.hcharts.cn/highmaps/highmaps.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/data.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="{{static_url("js/svr/svr_geo.js")}}"></script>
{% end %}
{% block page %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS服务器全球地理分布</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>截至{{datetime.datetime.now().strftime('%Y-%m-%d')}}域名相关WHOIS服务器分布
                <div class="pull-right"></div>
            </div>
            <div class="panel-body">
            <div id="container_map" style="max-width: 1000px">
                <script>
                    $(document).ready(svr_geo({% raw data %}));
                </script>
            </div>
            </div>

        </div>
    </div>
</div>
{% end %}
