{% extends "../main_template.html" %} {% block head_link %}
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
<script src="{{static_url("js/svr/svr_performance.js")}}"></script>
<script src="http://apps.bdimg.com/libs/layer/2.0/layer.js"></script>
<!-- 遮盖层脚本 -->
{% end %} {% block page %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS服务器数量</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-arrow-circle-right fa-fw"></i> 数据说明
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">首页</a></li>
                    <li><a href="#profile" data-toggle="tab">性能</a></li>
                </ul> <!-- /.nav-tabs -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="container" style="width: 100%;height: 100%">
                            <div class="row" style="margin-top: 10px ">
                                <p>右图为含有和未含有域名WHOIS服务器的域名数量比，单击下面按钮查看详细。</p>
                            </div>
                            <hr>
                            <div class="row">
                                <button id="btn_exist_detail" type="button" class="btn  btn-primary  btn-block">详细信息</button>
                            </div>
                        </div><!-- /.container -->
                    </div>
                    <div class="tab-pane fade" id="profile">
                         <div class="container" style="width: 100%;height: 100%">
                            <div class="row" style="margin-top: 10px ">
                                <p>右图为含有为各个域名WHOIS服务器的性能比较，单击下面按钮可查看详细信息。</p>
                            </div>
                            <hr>
                            <div class="row">
                                <button id="btn_svr_detail" type="button" class="btn  btn-primary  btn-block">详细信息</button>
                            </div>
                        </div><!-- /.container -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /panel -->
    </div>
    <!-- /col-lg-3 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa  fa-pie-chart fa-fw"></i> 截至{{datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
            </div>
            <div class="panel-body">
                <div id="container" style="width:100%;height:100%">
                </div>
            </div>
        </div>
    </div>
    <!-- /col-lg-9 -->
</div>
{% end %} {% block foot_script %}
<script type="text/javascript">
$(document).ready(exist_detail()); //绑定btn_exist_detail,whois服务器的详细信息按钮
</script>
{% end %}
