{% extends "../main_template.html" %}
{% block head_link %}
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="{{static_url("js/svr/top_sec.js")}}"></script>
{% end %}

{% block title_name %}
<title>一级和二级WHOIS服务器分析</title>
{% end %}

{% block page %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">一级和二级WHOIS服务器分析</h1>
    </div>
</div> <!--./row-->
<div class="row">
    <ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">数量统计</a>
   </li>
   <li><a href="#ios" data-toggle="tab">二级服务器性能统计</a></li>
   <li><a href="#" data-toggle="tab"> 性能分析</a></li>
   
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-pie-chart fa-fw"></i> 截至{{ datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="container" style="min-width:400px;height:400px"></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="well">
                    目前数据库中，含有二级whois服务器的顶级服务器有<code id="top"></code>个，二级服务器总数为<code>{{sec_num}}</code>个，详细可单击图标查询。
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa  fa-pie-chart fa-fw"></i> 截至{{ datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
                        </div>
                        <div class="panel-body">
                            <div class="row">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
    
        
    <div class="tab-pane fade" id="ios">
        <p>
               nihaoanihao
        </p>
    </div>
    <div class="tab-pane fade" id="jmeter">
        <p>
            jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。
        </p>
    </div>
    <div class="tab-pane fade" id="ejb">
        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
        </p>
    </div>
    </div>
</div>
{% end %}
{% block foot_script %}
<script>
   $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // 获取已激活的标签页的名称
      var activeTab = $(e.target).text(); 
      // 获取前一个激活的标签页的名称
      var previousTab = $(e.relatedTarget).text(); 
    //   $(".active-tab span").html(activeTab);
    //   $(".previous-tab span").html(previousTab);
    // alert("nihao");
   });
});
</script>
{% end %}