{% extends "../main_template.html" %}
{% block head_link %}
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="{{static_url("js/svr/detect_info.js")}}"></script>
{% end %}

{% block title_name %}
<title>一级和二级WHOIS服务器分析</title>
{% end %}

{% block page %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">一级和二级WHOIS服务器分析</h1>
    </div>
</div> <!--./row-->
<div class="row">
    <ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">数量统计</a>
   </li>
   <li><a href="#ios" data-toggle="tab">二级服务器性能统计</a></li>
   <li><a href="#" data-toggle="tab"> 性能分析</a></li>
   
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <h2>域名whois分析的空间</h2>
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-pie-chart fa-fw"></i> 截至{{ datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                W3Cschoool菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa  fa-pie-chart fa-fw"></i> 截至{{ datetime.datetime.now().strftime('%Y-%m-%d')}}最新数据
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                 <div style=" width:50px; height:50px; background-color:#F00; border-radius:25px;">
         <span style="height:50px; line-height:50px; display:block; color:#FFF; text-align:center">4</span>
    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
    <div class="tab-pane fade" id="ios">
        <p>
            iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
        </p>
    </div>
    <div class="tab-pane fade" id="jmeter">
        <p>
            jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。
        </p>
    </div>
    <div class="tab-pane fade" id="ejb">
        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
        </p>
    </div>
    </div>
</div>
{% end %}