{% extends "../main_template.html" %}
{% block head_link %}
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="{{static_url("js/domain_whois/detect.js")}}"></script>
{% end %}
{% block title_name %}
<title>域名WHOIS信息探测性能</title>
{% end %}
{% block page %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS信息探测性能</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-calendar fa-fw"></i>
                选择查看日期
                <div class="pull-right"></div>
            </div>
            <div class="panel-body">
                <form role="form">
                <div class="form-group">
                    <label for="inputfile">起始日期</label>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" id="start_date" name="start" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputfile">终止日期</label>
                    <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control" id="end_date" name="end"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="query">查询性能</button>
                </form>
                
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker6').datetimepicker({
                            // format: "DD/MM/YYYY",
                            format: "YYYY-MM-DD",
                            defaultDate: new Date(),
                            showTodayButton: true
                        });
                        $('#datetimepicker7').datetimepicker({
                            useCurrent: false, //Important! See issue #1075
                            format: "YYYY-MM-DD",
                            defaultDate: new Date(),
                            showTodayButton: true
                        });
                        $("#datetimepicker6").on("dp.change", function (e) {
                            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                        });
                        $("#datetimepicker7").on("dp.change", function (e) {
                            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                        });
                        $("#query").bind('click',function(){
                        //    alert($("#start_date").val());
                            test();
                        });
                    });
                </script>
            </div>
        </div>
    </div><!--./col-lg-3-->
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                域名WHOIS信息探测性能
                <code><div class="pull-right" style="font-size:15px;" id="detect_period">探测时间段：2015-12-08 08:07:05至2015-12-08 08:07:05</div></code>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- <div id="morris-area-chart"></div> -->
                <div id="container" style="width:100%;height:100%">
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}