<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    {% block title_name %}
    <title></title>
    {% end %}
    <link rel="shortcut icon" href="{{static_url("favicon.ico")}}">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/metisMenu/2.2.0/metisMenu.min.css" rel="stylesheet">
    <link href="{{static_url('css/sb-admin-2.css')}}" rel="stylesheet">
    <!--引用其他外来脚本-->
    {% block head_link %}
    {% end %}
    <style>
        .navbar-brand {
        padding: 0px;
        }
        .navbar-brand>img {
        height: 100%;
        padding: 8px;
        width: auto;
        }
    </style>
        
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{{static_url("favicon.ico")}}" alt="Logo">域名whois信息管理系统
                </a>
{#                <a class="navbar-brand" href="/">域名WHOIS信息统计系统</a>#}
            </div>
            <!-- /.navbar-header -->
            <!-- 这部分是导航条右边的人头 -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <!-- /这部分是导航条右边的人头 -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!-- 搜索 -->
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <!-- /搜索 -->
                        <li>
                            <a href="/">
                                <i class="fa fa-dashboard fa-fw"></i> 控制台首页
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-fw"></i> 域名数量统计
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/domain/overall">域名数量分布</a>
                                </li>
                                <li>
                                    <a href="/domain/tld-number">顶级域名后缀数量统计</a>
                                </li>
                                <li>
                                    <a href="/tld">顶级域名后缀详情</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <!-- <a href="tables.html"> -->
                            <a href="#">
                                <i class="fa fa-table fa-fw"></i> 域名WHOIS服务器
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/svr">WHOIS服务器统计</a>
                                </li>
                                <li>
                                    <a href="/svr_geo">WHOIS服务器地理位置分布</a>
                                </li>
                                <li>
                                    <a href="/svr_performance">WHOIS服务器探测性能</a>
                                </li>
                                <li>
                                    <a href="/top_sec">二级WHOIS服务器</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-bar-chart fa-fw"></i> 系统探测性能分析
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/whois_integrity">域名WHOIS完整性统计</a>
                                </li>
                                <li>
                                    <a href="/detect_count">域名WHOIS数量统计</a>
                                </li>
                                <li>
                                    <a href="/detect">域名WHOIS数量增长趋势</a>
                                </li>
                                <li>
                                    <a href="/forcast">域名WHOIS探测时间预测</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-database fa-fw"></i> 数据库表数据分析
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/table/overall">数据库表完整性分布</a>
                                </li>
                                <li>
                                    <a href="/table/increase">数据库表增长统计</a>
                                </li>


                            </ul>

{#                            <a href="/table_overall">#}
{#                                <i class="fa fa-database fa-fw"></i> 数据库表分析#}
{#                            </a>#}
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <!--正文-->
            {% block page %}
            {% end %}
        </div>
    </div>
    <br>
    <footer>
    <p class="text-center">
        <strong>
            Copyright © 2014-2015
            <a href="#">网络与信息安全研究中心</a>
        </strong>
    </p>
    </footer>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/metisMenu/2.2.0/metisMenu.min.js"></script>
    <script src={{static_url("js/sb-admin-2.js")}}></script>
    <!--引入其他外来脚本-->
    {% block foot_script %}
    {% end %}
</body>

</html>
