{% extends "../main_template.html" %}

{% block title_name %}
<title>域名WHOIS信息探测性能</title>
{% end %}

{% block page %}

<div class="row"> <!-- page-header -->
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS信息探测性能</h1>
    </div>
</div> <!-- //page-header -->

<div class="row">
    <div class="col-lg-4"><!-- container-total -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-inbox fa-fw"></i>
                    已探测与未探测域名数量
            </div>
            <div class="panel-body">
                <div id="container-total" style="width:100%;min-height:300px;"></div>
            </div>
        </div>
    </div> <!-- //container-total -->
    <div class="col-lg-4"> <!-- container-speed -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tachometer fa-fw"></i> 
                    探测时间段：<span id="p-title"></span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            选择查询时间段
                            <span class="caret"></span>
                        </button>
                        
                        <ul class="dropdown-menu pull-right" role="menu" id="ul-test">
                            <li><a href="#" >最近三小时</a></li>
                            <li><a href="#" >最近七小时</a></li>
                            <li><a href="#" >最近十二小时</a></li>
                            <li class="divider"></li>
                            <li><a href="#" >最近一天</a>
                            <li><a href="#" >最近三天</a>
                            <li><a href="#" >最近一周</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="container-speed" style="width:100%;min-height:300px;"></div>
            </div>
        </div>
    </div> <!-- //container-speed -->
    <div class="col-lg-4"> <!-- col-lg-4 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar fa-fw"></i> 
                    探测情况汇总
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        数据库中域名总数为:
                        <span class="label label-success" id="domain-total"></span>
                        M个
                    </li>
                    <br>
                    <li>
                        已探测WHOIS的域名数量:
                        <span class="label label-success" id="domain-detected"></span>
                        M个
                    </li>
                    <br>
                    <li>
                        未探测WHOIS的域名数量:
                        <span class="label label-success" id="domain-detecting"></span>
                        M个
                    </li>
                    <br>
                    <li>
                        目前域名WHOIS探测速度:
                        <span class="label label-success" id="detecting-speed"></span>
                        个/小时
                    </li>
                    <br>
                    <li>探测完剩余域名需要:
                        <span class="label label-success" id="detecting-days"></span>
                        天
                    </li>
                    <br>
                    <li>探测完剩余域名需要:
                        <span class="label label-success" id="detecting-months"></span>
                        月
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% end %}

{% block foot_script %}

<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="//cdn.hcharts.cn/highcharts/highcharts-more.js"></script>
<script src={{static_url("js/system_performance/forcast.js")}}></script>
<script>
    
    $(function(){
        
        init_total({% raw total %});  //初始化总数
        get_data("three-hours");      //初始化speed
        $("#p-title").text("最近三小时"); //初始化显示时间段
        var resources = document.querySelector('#ul-test');
        resources.addEventListener('click', showtarget, false);
        function showtarget(ev) {
            
            var target = ev.target;
            if (target.tagName === 'A') {
                $("#p-title").text(target.text); //可以使用switch，下一次优化
                if (target.text == "最近三小时"){
                    get_data("three-hours");
                }
                else if(target.text == "最近七小时"){
                    get_data("seven-hours");
                }
                else if(target.text == "最近十二小时"){
                    get_data("twelve-hours");
                }
                else if(target.text == "最近一天"){
                    get_data("one-day");
                }
                else if(target.text == "最近三天"){
                    get_data("three-days");
                }
                else if(target.text == "最近一周"){
                    get_data("seven-days");
                }
            }
        }        
    });
</script>
{%end%}