{% extends "../main_template.html" %}
{% block title_name %}
<title>域名WHOIS信息完整性统计分析</title>
{% end %}
{% block page %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">域名WHOIS信息完整性统计分析</h1>
    </div>
</div>

<div class="row">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">域名WHOIS信息完整性统计</a>
        </li>
        <li>
            <a href="#tld" data-toggle="tab">特定域名后缀情况统计</a>
        </li>
        <li>
            <a href="#type" data-toggle="tab">特定类型情况统计分析</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content" style="margin-top:15px;">
        <!--tab-home-->
        <div class="tab-pane fade in active" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    域名WHOIS信息完整性概览
                </div>
                <div class="panel-body">
                    <div id="containertb" style="width: 100%;height: 100%;"></div>
                </div>
            </div>
        </div><!--//tab-home-->
        <!--tab-tld-->
        <div class="tab-pane fade" id="tld">
            <div class="row">
                <!--col-lg-4-->
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-crosshairs fa-fw"></i>
                                选择查询的顶级后缀
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form class="form-horizontal" role="form" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="tld-query" class="col-sm-3 control-label">
                                            域名后缀
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="tld-query" 
                                                placeholder="请输入后缀，例net">
                                            <span class="help-block">
                                                单击右图柱状图，可以查看更详细的完整性分布
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="button" class="btn btn-primary" id="query" >
                                            查询详情
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!--//panel panel-default-->
                </div><!--//col-lg-4-->
                <!--col-lg-8-->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            特定域名后缀WHOIS完整性统计
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <div id="containerfz" style="width:100%;height:350px;"></div>
                            </div>
                        </div>
                    </div>
                </div><!--col-lg-8-->
            </div>
        </div><!--//tab-tld-->
        <!--tab-type-->
        <div class="tab-pane fade" id="type">
            <div class="row">
                <!--col-lg-4-->
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                                选择查询的类型
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <label for="name">选择要查看的类型</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="reg-info" checked>
                                            注册者信息完整
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="reg-date">
                                            注册时间完整
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios"  value="part-info">
                                            注册者和时间都不完整
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="no-connect">
                                            无法连接
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div> <!--//panel panel-default-->
                </div><!--//col-lg-4-->
                <!--col-lg-8-->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            域名WHOIS信息完整性分布
                        </div>
                        <div class="panel-body">
                            <div id="containera" style="width:100%;min-height:500px"></div>
                        </div>
                    </div>
                </div><!--col-lg-8-->
            </div>
        </div><!--//tab-type-->
    </div>
</div>

{% end %}

{% block foot_script %}
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/data.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/drilldown.js"></script>
<script src={{ static_url("js/system_performance/whois_integrity.js")}}></script>
<script>
$(function(){
    whois_chart({% raw tld_whois_sum %});
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // 获取已激活的标签页的名称
        var activeTab = $(e.target).text();
        if(activeTab=="特定域名后缀情况统计"){
            get_tld_data('net');
        }
        else if(activeTab=="特定类型情况统计分析"){
            get_type_data('1','注册者信息完整');
        }
    });
    $("#query").bind('click',function(){
        get_tld_data($("#tld-query").val());
    });
    
    //radio绑定change事件
    $('input[type=radio][name=optionsRadios]').change(function() {
        if (this.value == 'reg-info') {
            get_type_data('1','注册者信息完整')
        }
        else if (this.value == 'reg-date') {
            get_type_data('2','注册日期完整')
        }
        else if (this.value == 'part-info'){
            get_type_data('3','部分信息完整')
        }
        else if (this.value == 'no-connect'){
            get_type_data('0','无法连接')
        }
    });
    

});
</script>
{% end %}